/* goldman-regular - latin */
@font-face {
    font-family: 'Goldman';
    /* font-style: normal; */
    font-weight: 400;
    src: url('../fonts/goldman-v15-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/goldman-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/goldman-v15-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/goldman-v15-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/goldman-v15-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/goldman-v15-latin-regular.svg#Goldman') format('svg');
    /* Legacy iOS */
}

body {
    background-color: rgb(232, 232, 246);
  }

td.white {
    background-color: antiquewhite;
    width: 64px;
    height: 64px;
    text-align: center;
}

td.black {
    background-color: rgb(220, 172, 109);
    width: 64px;
    height: 64px;
    text-align: center;
}

td.rim {
    background-color: rgb(41, 70, 55);
    width: 64px;
    height: 64px;
    text-align: center;
}

td.bg {
    background-color: rgb(191, 210, 207);
    width: 64px;
    height: 64px;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    color:rgb(50, 65, 52);
    font-family: 'Goldman';
    font-size: 40px;
    font-weight: bold;
}

.gamebox {
    background-color: rgb(191, 210, 207);
    margin: auto;
    width: 685px;
    border: 3px solid green;
    padding: 10px;
  }

.textbox {
    font-family: 'Goldman', cursive;
    text-align:center;
    font-size: 21px;
    font-weight: bold;
    color:rgb(50, 65, 52);
    background-color: antiquewhite;
    padding: 1px;
}
